<b>Resources:</b>

https://docs.genius.com/

# Input

In [2]:
#assuming full discography already created from DISCOGS API
# import pandas and input file
import pandas as pd
discog = pd.read_csv('sample_discography.csv')

In [3]:
# check input
discog.head()

   year                 album  track_position           track_title
0  1984  From Her To Eternity               1             Avalanche
1  1984  From Her To Eternity               2          Cabin Fever!
2  1984  From Her To Eternity               3        Well Of Misery
3  1984  From Her To Eternity               4  From Her To Eternity
4  1984  From Her To Eternity               5            Saint Huck

# Pull lyrics

In [5]:
# connection to GENIUS LYRICS API
import lyricsgenius
# authenticate to GENIUS.COM
genius = lyricsgenius.Genius("yUrV_dD4VMSNbqnx4GERtNJAdeX1121T1OqR8nZMtbQI7Tsi1vrc2Hpxmgrb0l-S")

In [6]:
# check connection
genius

In [16]:
# set up parameters
genius.verbose = False # Turn off status messages
genius.remove_section_headers = True # Remove section headers (e.g. [Chorus]) from lyrics when searching

In [22]:
# pull lyrics for each track
for track in discog.track_title:
    song = genius.search_song(track, "Nick Cave and the Bad Seeds")
    discog.loc[discog.track_title == track, 'lyrics'] = song.lyrics

In [38]:
discog.head(2)

,year,album,track_position,track_title,lyrics
0,1984,From Her To Eternity,1,Avalanche,I stepped into an avalanche\nIt covered up my ...
1,1984,From Her To Eternity,2,Cabin Fever!,The Captain's fore-arm like bunched-up rope\nW...

# Data cleaning and preparation

In [63]:
# remove line breaks "\n" from lyrics str
discog['lyrics_cleaned'] = discog['lyrics'].apply(lambda x: x.replace('\n',' '))
# remove speacial characters except alphanumeric, dash "-" and aposhtrophy "'"
import re
discog['lyrics_cleaned'] = discog['lyrics'].apply(lambda x: re.sub("[^A-Za-z0-9-']+", ' ', x))

In [40]:
discog.head(2)

,year,album,track_position,track_title,lyrics,lyrics_cleaned
0,1984,From Her To Eternity,1,Avalanche,I stepped into an avalanche\nIt covered up my ...,I stepped into an avalanche It covered up my s...
1,1984,From Her To Eternity,2,Cabin Fever!,The Captain's fore-arm like bunched-up rope\nW...,The Captain's fore-arm like bunched-up rope Wi...

In [64]:
# use to compare before and after cleaning
#song_name = "Ghosteen"
#print('BEFORE:')
#print(discog.lyrics[discog.track_title==song_name].iloc[0])
#print('AFTER:')
#print(discog.lyrics_cleaned[discog.track_title==song_name].iloc[0])

In [69]:
# add number of unique words in each song
discog['unique_words'] = discog.lyrics_cleaned.apply(lambda x: len(set(x.split(' '))))

# Save output

In [77]:
#save output to .csv
discog.to_csv('sample_discography_w_lyrics.csv', index =False)